@import "node_modules/@blaze/css/src/scss/blaze";

button {
  cursor: pointer;
}

.o-modal[role=dialog] {
  width: 25em !important;
}

.c-field {
  box-sizing: border-box;
}

.c-alert {
  width:  100%;
  box-sizing: border-box;
  margin: var(--spacing-medium) 0 0 !important;
}

.c-button {
  box-sizing: border-box;
}

#forgotPasswordBtn {
  cursor: pointer;
  text-decoration-line: underline;
}
