a {
  display: block;
  height: calc(5em - 1px);
  line-height: 5em;
  padding: 10px;
  font-family: 'Graduate', cursive;
  text-decoration: none;
  color: white;
}

nav {
  height: 5em;
  background-color: #2a3439;
  overflow: hidden;
}

ul {
  height: calc(100% - 2px);
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  border-top: 1px solid #4e6069;
  border-bottom: 1px solid #4e6069;
}

li:last-child {
  border-right: 0;
}

li {
  height: 100%;
  float: left;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid #4e6069;
}

li:hover {
  background-color: #43545c
}

.flexRight {
  margin-left: auto;
}

.flexLeft {
  margin-right: auto;
}

.hidden {
  visibility: hidden;
}

.authControl {
  cursor: pointer;
}

.noBorderRight {
  border-right: 0;
}
